<section class="product-marketing">
  <nuxt-img
    class="blur-img"
    provider="cloudinary"
    loading='lazy'
    src="/v1654993717/finsweet/product-page/product-marketing-blur.png"
    alt=""
  />
  <div class="container">
    <div class="product-marketing__text">
      <label>Marketing insights</label>
      <h2>Data-driven client feedback</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren.</p>
    </div>
    <div class="product-marketing__image">
      <figure>
        <nuxt-img
          provider="cloudinary"
          loading="lazy"
          src="/v1654942156/finsweet/product-page/marketing-image.png"
          alt=""
        />
      </figure>
    </div>
  </div>
</section>
