<section class="product-logos">
  <div class="container">
    <figure>
      <nuxt-img
        provider="cloudinary"
        loading="lazy"
        src="/v1654846701/finsweet/finsweet-home-client-logo1.svg"
        alt="client-logo1"
      />
    </figure>
    <figure>
      <nuxt-img
        provider="cloudinary"
        loading="lazy"
        src="/v1654846701/finsweet/finsweet-home-client-logo2.svg"
        alt="client-logo2"
      />
    </figure>
    <figure>
      <nuxt-img
        provider="cloudinary"
        loading="lazy"
        src="/v1654846701/finsweet/finsweet-home-client-logo3.svg"
        alt="client-logo3"
      />
    </figure>
    <figure>
      <nuxt-img
        provider="cloudinary"
        loading="lazy"
        src="/v1654846701/finsweet/finsweet-home-client-logo4.svg"
        alt="client-logo4"
      />
    </figure>
    <figure>
      <nuxt-img
        provider="cloudinary"
        loading="lazy"
        src="/v1654846701/finsweet/finsweet-home-client-logo5.svg"
        alt="client-logo5"
      />
    </figure>
  </div>
</section>
