<section class="about-header">
  <div class="container">
    <h1>We are proud of our products</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore
      magna aliquyam erat, sed diam voluptua.</p>
    <div class="about-header__images">
      <figure>
        <img loading="lazy" src="/images/about-us/header-img1.png" alt="" />
      </figure>
      <figure>
        <nuxt-img loading="lazy" src="/images/about-us/header-img2.png" alt="" />
      </figure>
      <figure>
        <nuxt-img loading="lazy" src="/images/about-us/header-img3.png" alt="" />
      </figure>
    </div>
  </div>
</section>