<section class="blog-header">
  <div class="container">
    <h1>Read our latest blogs</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.
      Duis
      cursus, mi quis viverra ornare, eros dolor.</p>
    <div class="trending">
      <div class="trending__content">
        <label>Trending Post</label>
        <h2>New invoicing features to help you get paid faster</h2>
        <p>Over the past few months, we’ve added several new features to SaaS Invoicing to help any business get paid
          faster and
          streamline their collection workflows.</p>
        <p>Luke Matthews l November 8, 2021</p>
      </div>
      <figure class="trending__image">
        <nuxt-img src="/images/blog/header-img.png" alt="" />
      </figure>
    </div>
  </div>
</section>