<section class="home-logos">
  <div class="container">
    <figure>
      <nuxt-img loading="lazy" src="/images/home/home-client-logo1.svg" alt="client-logo1" />
    </figure>
    <figure>
      <nuxt-img loading="lazy" src="/images/home/home-client-logo2.svg" alt="client-logo2" />
    </figure>
    <figure>
      <nuxt-img loading="lazy" src="/images/home/home-client-logo3.svg" alt="client-logo3" />
    </figure>
    <figure>
      <nuxt-img loading="lazy" src="/images/home/home-client-logo4.svg" alt="client-logo4" />
    </figure>
    <figure>
      <nuxt-img loading="lazy" src="/images/home/home-client-logo5.svg" alt="client-logo5" />
    </figure>
  </div>
</section>