<section class="product-features">
  <div class="container">
    <h1>Get the best out of your company with our service</h1>
  </div>
  <div class="background">
    <div class="product-features__list">
      <div class="product-features__item">
        <figure>
          <nuxt-img
            provider="cloudinary"
            loading="lazy"
            src="/v1654942153/finsweet/product-page/features-item-icon1.svg"
            alt=""
          />
        </figure>
        <p>Security and privacy</p>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor.
        </p>
      </div>

      <div class="product-features__item">
        <figure>
          <nuxt-img
            provider="cloudinary"
            loading="lazy"
            src="/v1654942153/finsweet/product-page/features-item-icon2.svg"
            alt=""
          />
        </figure>
        <p>Built-in AI features</p>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor.
        </p>
      </div>

      <div class="product-features__item">
        <figure>
          <nuxt-img
            provider="cloudinary"
            loading="lazy"
            src="/v1654942153/finsweet/product-page/features-item-icon3.svg"
            alt=""
          />
        </figure>
        <p>Collaborate with others</p>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor.
        </p>
      </div>

      <div class="product-features__item">
        <figure>
          <nuxt-img
            provider="cloudinary"
            loading="lazy"
            src="/v1654942154/finsweet/product-page/features-item-icon4.svg"
            alt=""
          />
        </figure>
        <p>Real time sync</p>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor.
        </p>
      </div>

      <div class="product-features__item">
        <figure>
          <nuxt-img
            provider="cloudinary"
            loading="lazy"
            src="/v1654942155/finsweet/product-page/features-item-icon5.svg"
            alt=""
          />
        </figure>
        <p>Built-in AI features</p>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor.
        </p>
      </div>

      <div class="product-features__item">
        <figure>
          <nuxt-img
            provider="cloudinary"
            loading="lazy"
            src="/v1654942154/finsweet/product-page/features-item-icon6.svg"
            alt=""
          />
        </figure>
        <p>Easy notes organization</p>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor.
        </p>
      </div>
    </div>
  </div>
</section>
