.home-cta2 {
    background-image: url("@/static/images/cta-blur.png");

    padding-top: 128px;
    padding-bottom: 128px;
    text-align: center;
    h1 {
        font-family: "Roboto-Bold";
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 110%;
        text-align: center;
        color: var(--primary);
        max-width: 846px;
        margin: 0 auto 24px;
    }
    p {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: var(--primary);
        margin-bottom: 32px;
    }
    button {
        background: var(--primary);
        border-radius: 12px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: var(--white);
        padding: 16px 40px;
        border: none;
    }
}
