<section class="home-hero">
  <div class="container">
    <h1>
      The Best Software to Grow your Sales and Services
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore
      magna aliquyam erat.
    </p>
    <div class="hero__contact">
      <input type="text" placeholder="Enter Your Email">
      <button>Get Free trial.</button>
    </div>
    <figure class="hero__img">
      <nuxt-img provider="cloudinary" src="/v1654842325/finsweet/finsweet-home-dashboard-image.png" loading="lazy" alt="dashboard picture" />
    </figure>
  </div>
</section>
