<section class="home-hero">
  <div class="container">
    <h1>
      The Best Software to Grow your Sales and Services
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore
      magna aliquyam erat.
    </p>
    <div class="hero__contact">
      <input type="text" placeholder="Enter Your Email">
      <button>Get Free trial.</button>
    </div>
    <figure class="hero__img">
      <img src="@/static/images/home/dashboard-image.png" alt="">
    </figure>
  </div>
</section>