<section class="home-discover">
  <div class="container">
    <div class="home-discover__text">
      <label>Discover More</label>
      <h2>Analyze your sales and marketing leads</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua invidunt ut labore.</p>
    </div>
    <ul class="home-discover__list">
      <li>
        <nuxt-img
          provider="cloudinary"
          src="/v1654846674/finsweet/finsweet-home-discover-list-item1.svg"
          loading="lazy"
          alt="icon list"
        />
        <div>
          <h3>Sales Tracking</h3>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </li>
      <li>
        <nuxt-img
          provider="cloudinary"
          src="/v1654846674/finsweet/finsweet-home-discover-list-item2.svg"
          alt="icon list"
          loading="lazy"
        />
        <div>
          <h4>Project Management</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </li>
      <li>
        <nuxt-img
          provider="cloudinary"
          src="/v1654846674/finsweet/finsweet-home-discover-list-item3.svg"
          alt="icon list"
          loading="lazy"
        />
        <div>
          <h4>Activity Report</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
      </li>
    </ul>
  </div>
</section>