<section class="about-values">
  <div class="container">
    <h2>Our corporate values</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
    <div class="about-values__list">
      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary" loading="lazy" src="/v1654899314/finsweet/about-page/finsweet-about-icon1.svg" alt=""/>
        </figure>
        <h4>Best in Class</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary" loading="lazy" src="/v1654899314/finsweet/about-page/finsweet-about-icon2.svg" alt=""/>
        </figure>
        <h4>Authenticity</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary" loading="lazy" src="/v1654899314/finsweet/about-page/finsweet-about-icon3.svg" alt=""/>
        </figure>
        <h4>Email Support</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary" loading="lazy" src="/v1654899314/finsweet/about-page/finsweet-about-icon4.svg" alt=""/>
        </figure>
        <h4>Discounts Available</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary" loading="lazy" src="/v1654899314/finsweet/about-page/finsweet-about-icon5.svg" alt=""/>
        </figure>
        <h4>Powerful Marketing</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary" loading="lazy" src="/v1654899314/finsweet/about-page/finsweet-about-icon6.svg" alt=""/>
        </figure>
        <h4>Inventory management</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
      </div>












    </div>

  </div>

</section>
