<section class="product-logos">
  <div class="container">
    <figure>
      <img src="/images/home/home-client-logo1.svg" alt="client-logo1">
    </figure>
    <figure>
      <img src="/images/home/home-client-logo2.svg" alt="client-logo2">
    </figure>
    <figure>
      <img src="/images/home/home-client-logo3.svg" alt="client-logo3">
    </figure>
    <figure>
      <img src="/images/home/home-client-logo4.svg" alt="client-logo4">
    </figure>
    <figure>
      <img src="/images/home/home-client-logo5.svg" alt="client-logo5">
    </figure>
  </div>
</section>