<footer class="main-footer">
  <div class="container">
    <div class="main-footer__content">
      <ul>
        <li>Company</li>
        <li>About Us</li>
        <li>Why Choose us</li>
        <li>Pricing</li>
        <li>Testimonial</li>
      </ul>
      <ul>
        <li>Resources</li>
        <li>Privacy Policy</li>
        <li>Terms and Condition</li>
        <li>Blog</li>
        <li>Contact Us</li>
      </ul>
      <ul>
        <li>Product</li>
        <li>Project managment</li>
        <li>Time tracker</li>
        <li>Time schedule</li>
        <li>Lead generate</li>
        <li>Remote Collaboration</li>
      </ul>
      <div>
        <figure>
          <img src="@/static/images/finsweet-footer.svg" alt="finsweet">
        </figure>
        <p>Subscribe to our Newsletter</p>
        <div class="subscribe">
          <input type="text" placeholder="Enter your Email">
          <button>Subscribe</button>
        </div>
      </div>
    </div>
    <div class="main-footer__socials">
      <p>© Copyright Finsweet 2022</p>
      <div class="socials-links">
        <figure>
          <img src="@/static/images/footer-facebook.svg" alt="facebook link">
        </figure>
        <figure>
          <img src="@/static/images/footer-twitter.svg" alt="twitter link">
        </figure>
        <figure>
          <img src="@/static/images/footer-instagram.svg" alt="instagram link">
        </figure>
        <figure>
          <img src="@/static/images/footer-linkedin.svg" alt="linkedin link">
        </figure>
      </div>
    </div>
  </div>
</footer>