<footer class="main-footer">
  <div class="container">
    <div class="main-footer__content">
      <ul>
        <li>Company</li>
        <li>About Us</li>
        <li>Why Choose us</li>
        <li>Pricing</li>
        <li>Testimonial</li>
      </ul>
      <ul>
        <li>Resources</li>
        <li>Privacy Policy</li>
        <li>Terms and Condition</li>
        <li>Blog</li>
        <li>Contact Us</li>
      </ul>
      <ul>
        <li>Product</li>
        <li>Project managment</li>
        <li>Time tracker</li>
        <li>Time schedule</li>
        <li>Lead generate</li>
        <li>Remote Collaboration</li>
      </ul>
      <div>
        <figure>
          <nuxt-img
            src="/v1654852903/finsweet-logo-white.svg"
            provider="cloudinary"
            alt="finsweet"
            loading="lazy"
          />
        </figure>
        <p>Subscribe to our Newsletter</p>
        <div class="subscribe">
          <input type="text" placeholder="Enter your Email" />
          <button>Subscribe</button>
        </div>
      </div>
    </div>
    <div class="main-footer__socials">
      <p>© Copyright Finsweet 2022</p>
      <div class="socials-links">
        <figure>
          <nuxt-img provider="cloudinary"
          src="/v1654853057/finsweet-facebook-logo.svg"
          alt="facebook link"
          loading="lazy"
          />
        </figure>
        <figure>
          <nuxt-img provider="cloudinary"
          src="/v1654853057/finsweet-twitter-logo.svg"
          alt="twitter link"
          loading="lazy"
          />
        </figure>
        <figure>
          <nuxt-img provider="cloudinary"
          src="/v1654853057/finsweet-instagram-logo.svg"
          alt="instagram link"
          loading="lazy"
          />
        </figure>
        <figure>
          <nuxt-img provider="cloudinary"
          src="/v1654853057/finsweet-linkedin-logo.svg"
          alt="linkedin link"
          loading="lazy"
          />
        </figure>
      </div>
    </div>
  </div>
</footer>
