<section class="home-features">
  <div class="container">
    <div class="home-features__text">
      <h2>We have the Best Solution for your Business</h2>
    </div>
    <div class="features">
      <b-container>
        <b-row>
          <b-col sm="12" lg="6" xl="4" class="features__item">
            <figure>
              <nuxt-img loading="lazy" src="/images/home/features-icon1.svg" alt="" />
            </figure>
            <h2>High security to protect from piracy</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
          </b-col>
          <b-col sm="12" lg="6" xl="4" class="features__item">
            <figure>
              <nuxt-img loading="lazy" src="/images/home/features-icon2.svg" alt="" />
            </figure>
            <h2>Premium quality performance</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
          </b-col>
          <b-col sm="12" lg="12" xl="4" class="features__item">
            <figure>
              <nuxt-img loading="lazy" src="/images/home/features-icon3.svg" alt="" />
            </figure>
            <h2>Full time customer support - 24/7</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy.</p>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</section>