<section class="product-leadgeneration">
  <nuxt-img
    class="blur-img"
    provider="cloudinary"
    loading='lazy'
    src="/v1654991962/finsweet/product-page/product-leadgeneration-blur.png"
    alt=""
  />
  <div class="container">
    <div class="product-leadgeneration__text">
      <label>Lead Generation</label>
      <h2>More leads that convert</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren.</p>
    </div>
    <figure class="product-leadgeneration__image">
      <nuxt-img
        provider="cloudinary"
        loading="lazy"
        src="/v1654942155/finsweet/product-page/leadgeneration-image.png"
        alt=""
      />
    </figure>
  </div>
</section>
