<section class="about-team">
  <div class="container">
    <div class="about-team__content">
      <h2>Our talented Team</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
    </div>
    <div class="about-team__images">
      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary"
          src="/v1654899242/finsweet/about-page/finsweet-about-person1.png"
          loading="lazy"
          alt="" />
        </figure>
        <h4>Blake Matthews</h4>
        <p>CEO & Co-Founder</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary"
          src="/v1654899242/finsweet/about-page/finsweet-about-person2.png"
          alt=""
          loading="lazy"/>
        </figure>
        <h4>Jack Newman</h4>
        <p>CTO</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img provider="cloudinary"
            src="/v1654899242/finsweet/about-page/finsweet-about-person3.png"
            alt=""
            loading="lazy"
           />
        </figure>
        <h4>Sarinia Martins</h4>
        <p>Marketing</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img loading="lazy" provider="cloudinary" src="/v1654899242/finsweet/about-page/finsweet-about-person4.png" alt="" />
        </figure>
        <h4>Spencer Wright</h4>
        <p>Project management</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img loading="lazy" provider="cloudinary" src="/v1654899242/finsweet/about-page/finsweet-about-person5.png" alt="" />
        </figure>
        <h4>Caroline Ming</h4>
        <p>Sales</p>
      </div>

      <div class="item">
        <figure>
          <nuxt-img loading="lazy" provider="cloudinary" src="/v1654899242/finsweet/about-page/finsweet-about-person6.png" alt="" />
        </figure>
        <h4>Anna Mills</h4>
        <p>Design lead</p>
      </div>
    </div>
  </div>
</section>
