<section class="home-whyus">
  <div class="container">
    <div class="home-whyus__text">
      <label>Why should you work with us?</label>
      <h2>To upscale your business to the next level</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua invidunt ut labore.</p>
    </div>
    <ul class="home-whyus__list">
      <li>
        <nuxt-img loading="lazy" src="/images/home/features-arrow.svg" alt="arrow" />Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
      </li>
      <li>
        <nuxt-img loading="lazy" src="/images/home/features-arrow.svg" alt="arrow" />Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
      </li>
      <li>
        <nuxt-img loading="lazy" src="/images/home/features-arrow.svg" alt="arrow" />Lorem
        ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
      </li>
    </ul>
  </div>
</section>