<section class="product-timetracker">
  <div class="container">
    <div class="product-timetracker__text">
      <label>Timer tracker</label>
      <h2>Track your project performance</h2>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren.</p>
    </div>
    <figure class="product-timetracker__image">
      <img src="/images/product/timetracker-image.png" alt="">
    </figure>
  </div>
</section>