<section class="prices">
  <div class="container">
    <div class="prices__content">
      <h1>Pricing plans that suit you</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
      <div>
        <button>Monthly</button>
        <button>Yearly</button>
      </div>
    </div>
    <div class="prices__plans">
      <div class="plan">
        <div class="plan__header">
          <figure>
            <nuxt-img src="/images/pricing/plan1-icon.svg" alt="" />
          </figure>
          <div>
            <h3>Regular</h3>
            <p>Starter Plan</p>
          </div>
        </div>
        <div class="plan__body">
          <ul>
            <li>
              <span>Limited Projects</span>
            </li>
            <li><span>Regular Support Business</span></li>
            <li><span>1 month Free Trial</span></li>
            <li><span>3GB storage</span></li>
            <li>
              <span>Ads Preview</span>
            </li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
          <h3>Free</h3>
          <p>For Limited Period</p>
          <button>Get started</button>
        </div>
      </div>

      <div class="plan">
        <div class="plan__header">
          <figure>
            <nuxt-img src="/images/pricing/plan2-icon.svg" alt="" />
          </figure>
          <div>
            <h3>Plantinum</h3>
            <p>For the best results</p>
          </div>
        </div>
        <div class="plan__body">
          <ul>
            <li>
              <span>Limited Projects</span>
            </li>
            <li><span>Regular Support Business</span></li>
            <li><span>1 month Free Trial</span></li>
            <li><span>20GB storage</span></li>
            <li>
              <span>Ads Preview</span>
            </li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
          <h3>$342</h3>
          <p>For Limited Period</p>
          <button>Get started</button>
        </div>
      </div>

      <div class="plan">
        <div class="plan__header">
          <figure>
            <nuxt-img src="/images/pricing/plan3-icon.svg" alt="" />
          </figure>
          <div>
            <h3>Standard</h3>
            <p>Most popular</p>
          </div>
        </div>
        <div class="plan__body">
          <ul>
            <li>
              <span>Limited Projects</span>
            </li>
            <li><span>Regular Support Business</span></li>
            <li><span>1 month Free Trial</span></li>
            <li><span>10GB storage</span></li>
            <li>
              <span>Ads Preview</span>
            </li>
          </ul>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
          <h3>$234</h3>
          <p>For Limited Period</p>
          <button>Get started</button>
        </div>
      </div>
    </div>
  </div>
</section>