<section class="contact-form">
  <div class="container">
    <h1>Get in touch with us</h1>
    <div class="form-wrapper">
      <div class="text">
        <h3>Drop us a message</h3>
        <p>We will get back to you as soon as possible.</p>
      </div>
      <form class="form">
        <input type="text" placeholder="Full Name">
        <input type="text" placeholder="Company Name">
        <input type="email" placeholder="Work Email">
        <input type="text" placeholder="Subject">
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Message"></textarea>
        <button type="submit">Send</button>
      </form>
      <ul class="content">
        <li>
          <figure>
            <nuxt-img
            provider="cloudinary"
            src="/v1654909059/finsweet/contact-page/icon1.svg"
            width="48"
            heigth="48"
            alt="icon"
            loading="lazy" />
          </figure>
          <div>
            <h4>+ 1800 145 276</h4>
            <p>Free support</p>
          </div>
        </li>

        <li>
          <figure>
            <nuxt-img
            provider="cloudinary"
            loading="lazy"
            width="48"
            heigth="48"
            src="/v1654909059/finsweet/contact-page/icon2.svg"
            alt="icon" />
          </figure>
          <div>
            <h4>finsweet@gmail.com</h4>
            <p>Help Email support</p>
          </div>
        </li>

        <li>
          <figure>
            <nuxt-img
            provider="cloudinary"
            loading="lazy"
            width="48"
            heigth="48"
            src="/v1654909059/finsweet/contact-page/icon3.svg"
            alt="icon" />
          </figure>
          <div>
            <h4>sales@finsweet.com</h4>
            <p>Sales Enquiry</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
