.trending {
    margin-top: 48px;
    margin-bottom: 128px;
    color: var(--primary);
    text-decoration: none;
    border: 1px solid #d8d8d8;
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 64px;
    @media (max-width: 560px) {
        padding: 64px 24px;
    }
    transition: all 0.2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
    @media (min-width: 1440px) {
        justify-content: space-between;
    }
    gap: 46px;
    &__content {
        width: 100%;
        max-width: 552px;
        label {
            font-family: "Roboto-Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 120%;
            background: linear-gradient(53.94deg, #373fff 15.02%, #3acaf8 82.83%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
            margin-bottom: 23px;
        }

        h2 {
            font-family: "Roboto-Bold";
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            @media (max-width: 560px) {
                font-size: 28px;
            }
            line-height: 120%;
            margin-bottom: 24px;
        }

        p {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #6d6e76;
            text-align: left;
            max-width: none;
            margin-bottom: 32px;
        }
        p:nth-child(2) {
            color: #1d2130;
            font-weight: 500;
            opacity: 0.6;
        }
    }
    &__image {
        max-width: 552px;
        width: 100%;
    }
}
